.catalog {
  margin-left: 24px;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  background: #ffffff;
  padding: 48px 32px 48px 32px;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}
.breadcrumb {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #424242;
}
.goto {
  margin: 0 20px 0 20px;
}
.arrival_date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #41522e;
  margin: 0;
}
.in_favorites {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  color: #424242;
  margin: 28px 0 12px 0;
}
.count {
  font-weight: 500;
}
.hotel,
.location {
  margin: 0;
}
